<section class="hero">
  <div class="hero__container">
    <div class="hero__message">
      <h1 class="hero-title">
         Josue Schorr
      </h1>

      <p class="subtitle">
     “Nós temos de nos forçar a aprender o tempo todo. Temos dois ouvidos e uma boca, para ouvirmos mais do que falamos. Não se aprende sem ouvir.”
      </p>
    </div>
  </div>
</section>
